Repository dask/dask-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-crd-updates, regenerate-go-code, lint-go-code, build-go-code

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        exclude: versioneer.py
  - repo: https://github.com/rapidsai/frigate/
    rev: v0.4.0 #  pre-commit autoupdate  - to keep the version up to date
    hooks:
      - id: frigate
  - repo: local
    hooks:
      - id: check-crd-updates
        name: check-crd-updates
        entry: ci/pre-commit-crd.py v0.14.0
        language: script
        types: [yaml]
        pass_filenames: true
      - id: regenerate-go-code
        name: regenerate-go-code
        entry: dask_kubernetes/operator/go_client/hack/regenerate-code.sh
        language: script
        files: |
          (?x)^(
            go\.mod
            |go\.sum
            |dask_kubernetes/operator/go_client/pkg/apis/.*\.go
          )$
        exclude: ^dask_kubernetes/operator/go_client/pkg/apis/.*zz_generated.*\.go$
        pass_filenames: false
      - id: lint-go-code
        name: lint-go-code
        entry: dask_kubernetes/operator/go_client/hack/lint.sh
        language: script
        files: ^dask_kubernetes/operator/go_client/.*\.go$
        pass_filenames: false
      - id: build-go-code
        name: build-go-code
        entry: golang:1.19.10-bookworm bash -c 'GOCACHE=/src/.cache go build ./...'
        language: docker_image
        files: |
          (?x)^(
            go\.mod
            |go\.sum
            |dask_kubernetes/operator/go_client/.*\.go
          )$
        pass_filenames: false

Enable read-only root filesystem.
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Fix linting
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
Due: none

Fix pod logs
  dask_kubernetes/operator/kubecluster/kubecluster.py
  requirements.txt
Due: none

Default resource_timeout to 60
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Fix typos
  doc/source/kubecluster_migrating.rst
Due: none

Fix pod logs (#832)
  dask_kubernetes/operator/kubecluster/kubecluster.py
  requirements.txt
Due: none

Enable read-only root filesystem. (#830)
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Prepend env var defaults
  dask_kubernetes/operator/controller/controller.py
Due: none

Add quiet parameter to KubeCluster
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Address feedback
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

add change
  dask_kubernetes/operator/controller/controller.py
Due: none

actually add the env vars
  dask_kubernetes/operator/controller/controller.py
Due: none

use deepcopy
  dask_kubernetes/operator/controller/controller.py
Due: none

Add priorityClassName value to operator deployment
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Fix fetching single running pod (#846)
  dask_kubernetes/common/networking.py
  dask_kubernetes/operator/networking.py
Due: none

Fix node port support (#848)
  dask_kubernetes/common/networking.py
Due: none

Update major go package version
  dask_kubernetes/operator/go_client/hack/regenerate-code.sh
  dask_kubernetes/operator/go_client/pkg/apis/kubernetes.dask.org/v1/register.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/clientset.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/fake/clientset_generated.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/fake/register.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/scheme/register.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_kubernetes.dask.org_client.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/kubernetes.dask.org_client.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/factory.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/generic.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/interface.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/interface.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskworkergroup.go
  go.mod
Due: regenerate-go-code, lint-go-code, build-go-code

Insignificant change that will trigger all CI runs
  ci/Dockerfile
Due: none

Revert last and make change that just triggers the operator CI
  .github/workflows/operator.yaml
  ci/Dockerfile
Due: check-crd-updates

Actually revert...
  ci/Dockerfile
Due: none

Try pinning kr8s again
  requirements.txt
Due: none

Pin kr8s to 0.9.0 (#852)
  .github/workflows/operator.yaml
  requirements.txt
Due: check-crd-updates

Add quiet parameter to KubeCluster (#840)
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Add priorityClassName value to operator deployment (#845)
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Fix fetching single running pod (#846) (#847)
  dask_kubernetes/common/networking.py
  dask_kubernetes/operator/networking.py
Due: none

Fix node port support (#848) (#849)
  dask_kubernetes/common/networking.py
Due: none

Fix python-box compatability (#848)
  dask_kubernetes/operator/networking.py
Due: none

Fix versions in the go client
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskclusterstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjobstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/utils.go
Due: lint-go-code, build-go-code

Fix versions in the go client (#861)
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskclusterstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjobstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/utils.go
Due: lint-go-code, build-go-code

Bump Kubernetes in CI to 1.29 and minimum to 1.26
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
  .github/workflows/operator.yaml
Due: check-crd-updates

Bump Kubernetes in CI to 1.29 and minimum to 1.26 (#862)
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
  .github/workflows/operator.yaml
Due: check-crd-updates

Bump Kubernetes badges to 1.26-1.29
  README.rst
  doc/source/index.rst
Due: none

Bump Kubernetes badges to 1.26-1.29 (#863)
  README.rst
  doc/source/index.rst
Due: none

Bump min py
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
  .github/workflows/operator.yaml
  pyproject.toml
Due: check-crd-updates

Add sphinx theme workaround
  doc/requirements-docs.txt
Due: none

Upgrade versioneer for python 3.12
  dask_kubernetes/__init__.py
  dask_kubernetes/_version.py
  versioneer.py
Due: none

Add sphinx theme workaround (#865)
  doc/requirements-docs.txt
Due: none

Update CI badges
  README.rst
Due: none
