Repository dask/dask-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-crd-updates, regenerate-go-code, lint-go-code, build-go-code

check-crd-updates:
  name: check-crd-updates
  entry: ci/pre-commit-crd.py v0.14.0
  language: script
  pass_filenames: true

regenerate-go-code:
  name: regenerate-go-code
  entry: dask_kubernetes/operator/go_client/hack/regenerate-code.sh
  language: script
  pass_filenames: false

lint-go-code:
  name: lint-go-code
  entry: dask_kubernetes/operator/go_client/hack/lint.sh
  language: script
  pass_filenames: false

build-go-code:
  name: build-go-code
  entry: golang:1.19.10-bookworm bash -c 'GOCACHE=/src/.cache go build ./...'
  language: docker_image
  pass_filenames: false

Reinstate entrypoints
  pyproject.toml
Due: none

Migrate to hatch (#889)
  .dockerignore
  .github/workflows/release.yml
  .gitignore
  dask_kubernetes/__init__.py
  dask_kubernetes/_version.py
  dask_kubernetes/operator/deployment/Dockerfile
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  versioneer.py
Due: check-crd-updates

Remove classic KubeCluster and HelmCluster
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
  dask_kubernetes/__init__.py
  dask_kubernetes/classic/__init__.py
  dask_kubernetes/classic/kubecluster.py
  dask_kubernetes/classic/tests/config-demo.yaml
  dask_kubernetes/classic/tests/fake-ca-file
  dask_kubernetes/classic/tests/fake-cert-file
  dask_kubernetes/classic/tests/fake-key-file
  dask_kubernetes/classic/tests/fake_gcp_auth.py
  dask_kubernetes/classic/tests/test_async.py
  dask_kubernetes/classic/tests/test_sync.py
  dask_kubernetes/common/auth.py
  dask_kubernetes/common/networking.py
  dask_kubernetes/common/objects.py
  dask_kubernetes/common/tests/test_kind.py
  dask_kubernetes/common/tests/test_objects.py
  dask_kubernetes/common/utils.py
  dask_kubernetes/conftest.py
  dask_kubernetes/experimental/__init__.py
  dask_kubernetes/helm/__init__.py
  dask_kubernetes/helm/helmcluster.py
  dask_kubernetes/helm/tests/resources/values.yaml
  dask_kubernetes/helm/tests/test_helm.py
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/kubecluster/kubecluster.py
  dask_kubernetes/operator/validation.py
  doc/source/helmcluster.rst
  doc/source/index.rst
  doc/source/kubecluster.rst
  doc/source/kubecluster_migrating.rst
  doc/source/operator_kubecluster.rst
Due: check-crd-updates

Be less specific in testing config
  .github/workflows/operator.yaml
Due: check-crd-updates

Remove deprecation warning test
  dask_kubernetes/operator/kubecluster/tests/test_kubecluster.py
Due: none

Shift docs focus a little
  doc/source/index.rst
  doc/source/installing.rst
  doc/source/operator.rst
  doc/source/operator_installation.rst
Due: none

Refactor docs a little more
  doc/source/index.rst
  doc/source/installing.rst
  doc/source/operator.rst
  doc/source/operator_installation.rst
Due: none

Reinstate code example
  doc/source/index.rst
Due: none

doc -> docs
  .gitignore
  .readthedocs.yaml
  docs/Makefile
  docs/make.bat
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/history.rst
  docs/source/images/kubeflow-notebooks-configuration-selector.png
  docs/source/images/operator-install.gif
  docs/source/images/operator-install.tape
  docs/source/index.rst
  docs/source/installing.rst
  docs/source/kubecluster_migrating.rst
  docs/source/operator_extending.rst
  docs/source/operator_kubecluster.rst
  docs/source/operator_resources.rst
  docs/source/operator_troubleshooting.rst
  docs/source/releasing.rst
  docs/source/testing.rst
Due: check-crd-updates

Fix publish permissions
  .github/workflows/release.yml
Due: check-crd-updates

Fix publish permissions (#891)
  .github/workflows/release.yml
Due: check-crd-updates

General code quality improvements for the controller part of this repository.
  dask_kubernetes/conftest.py
  dask_kubernetes/operator/__init__.py
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
  dask_kubernetes/operator/kubecluster/__init__.py
  dask_kubernetes/operator/kubecluster/tests/test_kubecluster.py
  requirements-test.txt
Due: none

Fix publish permissions for chart
  .github/workflows/release.yml
Due: check-crd-updates

Fix publish permissions for chart (#893)
  .github/workflows/release.yml
Due: check-crd-updates

Introduce mypy section in pyproject.toml, ignore untyped imports and untyped external calls
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/plugins/noop/noop.py
  dask_kubernetes/operator/controller/tests/test_controller.py
  pyproject.toml
Due: none

Black fixes
  dask_kubernetes/operator/controller/controller.py
Due: none

Introduce typehints in controller (#881)
  dask_kubernetes/conftest.py
  dask_kubernetes/operator/__init__.py
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/plugins/noop/noop.py
  dask_kubernetes/operator/controller/tests/test_controller.py
  dask_kubernetes/operator/kubecluster/__init__.py
  dask_kubernetes/operator/kubecluster/tests/test_kubecluster.py
  pyproject.toml
  requirements-test.txt
Due: none

Changed min and max data members in DaskAutoscalerSpec struct from 'string' to 'int'
  dask_kubernetes/operator/go_client/pkg/apis/kubernetes.dask.org/v1/types.go
Due: regenerate-go-code, lint-go-code, build-go-code

Bump kr8s to 0.17 and use new_class for Dask resource classes
  dask_kubernetes/operator/_objects.py
  pyproject.toml
Due: none

Remove unecessary class attributes
  dask_kubernetes/operator/_objects.py
Due: none

Bump supported Kubernetes versions
  .github/workflows/operator.yaml
Due: check-crd-updates

Bump README badges
  README.rst
  docs/source/index.rst
Due: none

Bump kr8s to 0.17 and Kubernetes supported versions (#897)
  .github/workflows/operator.yaml
  README.rst
  dask_kubernetes/operator/_objects.py
  docs/source/index.rst
  pyproject.toml
Due: check-crd-updates

Drop Python 3.9
  .github/workflows/operator.yaml
  README.rst
  docs/source/index.rst
  pyproject.toml
Due: check-crd-updates

Drop Python 3.9 (#902)
  .github/workflows/operator.yaml
  README.rst
  docs/source/index.rst
  pyproject.toml
Due: check-crd-updates

Remove duplicate snippet
  docs/source/index.rst
Due: none

Include fixed example
  docs/source/index.rst
Due: none

Fix Autoscaler example code snippet on the docs index page (#905)
  docs/source/index.rst
Due: none

Fix loadBalancer attribute name
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/networking.py
Due: none

Fix loadBalancer attribute name (#908)
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/networking.py
Due: none

Add extra docs info on target duratiom
  doc/source/operator_resources.rst
Due: none

Add extra docs info on target duratiom (#911)
  docs/source/operator_resources.rst
Due: none

Improve retire_worker fallback by using deployments instead of pods
  dask_kubernetes/operator/controller/controller.py
Due: none

Improve retire_worker fallback by using deployments instead of pods (#912)
  dask_kubernetes/operator/controller/controller.py
Due: none

Fix section header typo in documentation
  docs/source/index.rst
Due: none

Fix section header typo in documentation (#915)
  docs/source/index.rst
Due: none

feat: Add configurable liveness probe timeout
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Update dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Path conditions:
  check-crd-updates: any of: \.(yaml|yml)$
  regenerate-go-code: any of: (?x)^(
  go\.mod
  |go\.sum
  |dask_kubernetes/operator/go_client/pkg/apis/.*\.go
)$
, but not: ^dask_kubernetes/operator/go_client/pkg/apis/.*zz_generated.*\.go$
  lint-go-code: any of: ^dask_kubernetes/operator/go_client/.*\.go$
  build-go-code: any of: (?x)^(
  go\.mod
  |go\.sum
  |dask_kubernetes/operator/go_client/.*\.go
)$

