Repository dask/dask-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-crd-updates, regenerate-go-code, lint-go-code, build-go-code

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        exclude: versioneer.py
  - repo: https://github.com/rapidsai/frigate/
    rev: v0.4.0 #  pre-commit autoupdate  - to keep the version up to date
    hooks:
      - id: frigate
  - repo: local
    hooks:
      - id: check-crd-updates
        name: check-crd-updates
        entry: ci/pre-commit-crd.py v0.14.0
        language: script
        types: [yaml]
        pass_filenames: true
      - id: regenerate-go-code
        name: regenerate-go-code
        entry: dask_kubernetes/operator/go_client/hack/regenerate-code.sh
        language: script
        files: |
          (?x)^(
            go\.mod
            |go\.sum
            |dask_kubernetes/operator/go_client/pkg/apis/.*\.go
          )$
        exclude: ^dask_kubernetes/operator/go_client/pkg/apis/.*zz_generated.*\.go$
        pass_filenames: false
      - id: lint-go-code
        name: lint-go-code
        entry: dask_kubernetes/operator/go_client/hack/lint.sh
        language: script
        files: ^dask_kubernetes/operator/go_client/.*\.go$
        pass_filenames: false
      - id: build-go-code
        name: build-go-code
        entry: golang:1.19.10-bookworm bash -c 'GOCACHE=/src/.cache go build ./...'
        language: docker_image
        files: |
          (?x)^(
            go\.mod
            |go\.sum
            |dask_kubernetes/operator/go_client/.*\.go
          )$
        pass_filenames: false

Add livenessProbe timeout to README
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
Due: none

Fix README typo
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
Due: none

feat: Add configurable liveness probe timeout (#918)
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Add DaskCluster.idleTimeout to the docs
  docs/source/operator_resources.rst
Due: none

Add DaskCluster.idleTimeout to the docs (#923)
  docs/source/operator_resources.rst
Due: none

Migrate from frigate to sphinx-helm
  .pre-commit-config.yaml
  dask_kubernetes/operator/deployment/helm/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/installing.rst
Due: check-crd-updates

Bump sphinx-helm to 0.2.1
  docs/requirements-docs.txt
Due: none

Migrate from frigate to sphinx-helm (#924)
  .pre-commit-config.yaml
  dask_kubernetes/operator/deployment/helm/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/installing.rst
Due: check-crd-updates

Update major go package version
  dask_kubernetes/operator/go_client/hack/regenerate-code.sh
  dask_kubernetes/operator/go_client/pkg/apis/kubernetes.dask.org/v1/register.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/clientset.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/fake/clientset_generated.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/fake/register.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/scheme/register.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_kubernetes.dask.org_client.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/kubernetes.dask.org_client.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/factory.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/generic.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/interface.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/kubernetes.dask.org/v1/interface.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/listers/kubernetes.dask.org/v1/daskworkergroup.go
  go.mod
Due: regenerate-go-code, lint-go-code, build-go-code

Remove generated `go` code before regerneration
  .github/workflows/update-go-package-version.yml
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/internal/internal.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskautoscalerspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskclusterspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskclusterstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjobspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjobstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskworkergroupspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/jobspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/schedulerspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/workerspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/utils.go
Due: check-crd-updates, lint-go-code, build-go-code

Remove generated `go` code before regerneration (#928)
  .github/workflows/update-go-package-version.yml
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/internal/internal.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskautoscalerspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskclusterspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskclusterstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjobspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskjobstatus.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/daskworkergroupspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/jobspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/schedulerspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/kubernetes.dask.org/v1/workerspec.go
  dask_kubernetes/operator/go_client/pkg/client/applyconfiguration/utils.go
Due: check-crd-updates, lint-go-code, build-go-code

Fix LIFO retire_workers (all the workers are deleted).
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Smaller u test.
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

🐛 Fix retire_workers LIFO fallback issue. (#931)
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Reflect that `env` will set on scheduler too
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Reflect that `env` will set on scheduler too (#934)
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Added update listenert to dask cluster
  dask_kubernetes/operator/controller/controller.py
Due: none

Bump kr8s to v0.20.*
  dask_kubernetes/operator/controller/tests/test_controller.py
  pyproject.toml
Due: none

Switch to async for syntax
  dask_kubernetes/operator/_objects.py
Due: none

Move more things to async for
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/kubecluster/discovery.py
  dask_kubernetes/operator/kubecluster/kubecluster.py
  dask_kubernetes/operator/networking.py
Due: none

Pin dask-gateway version for tests on older Kubernetes versions
  dask_kubernetes/conftest.py
Due: none

Revert one accidental async for
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Pin dask-gateway version for tests on older Kubernetes versions (#939)
  dask_kubernetes/conftest.py
Due: none

Bump kr8s to v0.20.* (#938)
  dask_kubernetes/operator/_objects.py
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/kubecluster/discovery.py
  dask_kubernetes/operator/kubecluster/kubecluster.py
  dask_kubernetes/operator/networking.py
  pyproject.toml
Due: none

Skip Job cluster creation if already exists
  dask_kubernetes/operator/controller/controller.py
Due: none

Bump pre-commit action
  .github/workflows/lint.yaml
Due: check-crd-updates

Update pre-commit GH action to 3.0.1
  .github/workflows/lint.yaml
Due: check-crd-updates

Skip Job cluster creation if already exists (#941)
  .github/workflows/lint.yaml
  dask_kubernetes/operator/controller/controller.py
Due: check-crd-updates

Allow configuring the event emit level
  dask_kubernetes/kubernetes.yaml
  dask_kubernetes/operator/controller/controller.py
Due: check-crd-updates

Allow configuring the event emit level (#946)
  dask_kubernetes/kubernetes.yaml
  dask_kubernetes/operator/controller/controller.py
Due: check-crd-updates

Add ability to set additional environment variables on the operator controller
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Add ability to set additional environment variables on the operator controller (#948)
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Fix when scheduler returns a tuple instead of a list
  dask_kubernetes/operator/controller/controller.py
Due: none

docs: add instructions for accessing Dask Scheduler dashboard from JupyterHub
  docs/source/installing.rst
Due: none

Add warning note to docs about using `c.ServerProxy.host_allowlist = lambda app, host: True` for accessing Dask Scheduler Dashboard from Jupyter notebook
  docs/source/installing.rst
Due: none

Add instructions for accessing Dask Scheduler Dashboard from JupyterHub (#953)
  docs/source/installing.rst
Due: none

Docs: Add example of network policy configuration for accessing Dask scheduler dashboard
  docs/source/installing.rst
Due: none

Docs: Add example of network policy configuration for accessing Dask scheduler dashboard (#955)
  docs/source/installing.rst
Due: none

Bump the minimum kopf version to 1.38.0
  pyproject.toml
Due: none
