Repository dask/dask-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-crd-updates, check-go-generation, lint-go-code, build-go-code

check-crd-updates:
  name: check-crd-updates
  entry: ci/pre-commit-crd.py v0.14.0
  language: script
  pass_filenames: true

check-go-generation:
  name: check-go-generation
  entry: dask_kubernetes/operator/go_client/hack/regenerate-code.sh
  language: script
  pass_filenames: false

lint-go-code:
  name: lint-go-code
  entry: dask_kubernetes/operator/go_client/hack/lint.sh
  language: script
  pass_filenames: false

build-go-code:
  name: build-go-code
  entry: golang:1.19.10-bookworm bash -c 'GOCACHE=/src/.cache go build ./...'
  language: docker_image
  pass_filenames: false

Improve `regenerate-go-code` step
  .pre-commit-config.yaml
Due: check-crd-updates

Improve code generation step
  dask_kubernetes/operator/go_client/hack/Dockerfile
  dask_kubernetes/operator/go_client/hack/regenerate-code.sh
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/clientset.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/doc.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskautoscaler.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskcluster.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskjob.go
  dask_kubernetes/operator/go_client/pkg/client/clientset/versioned/typed/kubernetes.dask.org/v1/fake/fake_daskworkergroup.go
  dask_kubernetes/operator/go_client/pkg/client/informers/externalversions/factory.go
Due: lint-go-code, build-go-code

Fix years in `update-go-package-version`
  .github/workflows/update-go-package-version.yml
Due: check-crd-updates

Add a test
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Bump Kubernetes versions
  .github/workflows/operator.yaml
Due: check-crd-updates

Verify things pass with dask/distributed@74a1bcd
  ci/install-deps.sh
Due: none

Remove deprecated CI runs to speed up testing
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
Due: check-crd-updates

Pin to commit that I suspect is causing this, expect this run to fail
  ci/install-deps.sh
Due: none

Pin to previous commit which I expect to pass
  ci/install-deps.sh
Due: none

Implement workaround
  ci/install-deps.sh
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Revert removed CI files
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
Due: check-crd-updates

Copy asynchronous checking from SpecCluster
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Add comment
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: none

Work around dask/distributed#7940 (#738)
  .github/workflows/operator.yaml
  dask_kubernetes/operator/kubecluster/kubecluster.py
Due: check-crd-updates

Fix job test
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Create worker pods through Deployments (#730)
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Add utility methods to kr8s objects
  dask_kubernetes/operator/controller/tests/test_controller.py
  dask_kubernetes/operator/objects.py
Due: none

Add utility methods to kr8s objects (#741)
  dask_kubernetes/operator/controller/tests/test_controller.py
  dask_kubernetes/operator/objects.py
Due: none

Make kubernetes API objects private
  dask_kubernetes/operator/_objects.py
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
  dask_kubernetes/operator/kubecluster/tests/test_kubecluster.py
Due: none

Fix job test (#739)
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Make kubernetes API objects private (#742)
  dask_kubernetes/operator/_objects.py
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
  dask_kubernetes/operator/kubecluster/tests/test_kubecluster.py
Due: none

Migrate test_recreate_worker_pods to use kr8s
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Yay walrus
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Wait for deleted Pod to go away
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Revert wait
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Migrate worker deployment test to use kr8s (#743)
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Update Kubernetes supported versions
  doc/source/index.rst
Due: none

Update supported k8s versions badge in docs (#744)
  doc/source/index.rst
Due: none

Replace DaskJob pod with Kubernetes Job
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Bump kr8s pin to 0.5.2
  requirements.txt
Due: none

Run all CI on requirements updates
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
  .github/workflows/operator.yaml
Due: check-crd-updates

Bump kr8s pin to 0.5.2 (#747)
  .github/workflows/helmcluster.yaml
  .github/workflows/kubecluster.yaml
  .github/workflows/operator.yaml
  requirements.txt
Due: check-crd-updates

Update job controller tests: remove pod name, add assert for job
  dask_kubernetes/operator/controller/tests/test_controller.py
Due: none

Add batch worker provisioning to the Operator
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Add `deployments` permission to role and clusterrole
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/clusterrole.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/role.yaml
Due: check-crd-updates

Add `deployments` permission to role and clusterrole (#750)
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/clusterrole.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/role.yaml
Due: check-crd-updates

Expose config options to controller, and scale workers in batches
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/README.md
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
Due: check-crd-updates

Path conditions:
  check-crd-updates: any of: \.(yaml|yml)$
  check-go-generation: any of: ^dask_kubernetes/operator/go_client/pkg/apis/.*\.go$, but not: ^dask_kubernetes/operator/go_client/pkg/apis/.*zz_generated.*\.go$
  lint-go-code: any of: ^dask_kubernetes/operator/go_client/.*\.go$
  build-go-code: any of: (?x)^(
  go\.mod
  |go\.sum
  |dask_kubernetes/operator/go_client/.*\.go
)$

